<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookoverview</title>
    <link rel="stylesheet" href="/book_overview.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <script id="user-data" type="application/json">
      <%- JSON.stringify(user || null) %>
    </script>

    <div class="container">
      <div class="components">
        <div class="searchbar">
          <input
            type="text"
            name="searchbar"
            id="searchbar"
            placeholder="Search ..."
          /><button id="searchbtn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <table>
          <thead id="thead"></thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>
    </div>

    <script src="/scripts/homepage.js"></script>
  </body>
</html>
