<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookoverview</title>
    <link rel="stylesheet" href="/book_overview.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="components">
        <div class="searchbar">
          <input
            type="text"
            name="searchbar"
            id="searchbar"
            placeholder="Search ..."
          /><button id="searchbtn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <table>
          <thead id="thead"></thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>
    </div>
    <script>
      const thead = document.querySelector("#thead");
      const tbody = document.querySelector("#tbody");
      const searchbtn = document.querySelector("#searchbtn");
      const jsonHeader = { "Content-Type": "application/json" };

      searchbtn.addEventListener("click", async () => {
        const searchValue = document.querySelector("#searchbar").value;
        const req = await fetch(`/api/search?param=${searchValue}`);
        const res = await req.json();

        refresh(res);
      });

      const printHeader = () => {
        const tr = document.createElement("tr");
        let dataTags = ["Title", "Author", "Genre", "Isbn", "Available"];

        const user = <%- JSON.stringify(user || null) %>;

        if (user) {
          dataTags.push("Actions");
        }

        for (let i = 0; i < dataTags.length; i++) {
          const th = document.createElement("th");
          th.innerHTML = dataTags[i];
          tr.appendChild(th);
        }
        thead.appendChild(tr);
      };

      const setEmpty = (message) => {
        const p = document.createElement("p");
        p.innerHTML = message;
        p.style.padding = "1rem";

        tbody.appendChild(p);
      };

      const getUpdate = async () => {
        const req = await fetch("/api/fetchBooks", { method: "POST" });
        const res = await req.json();
        refresh(res);
      };

      const doApply = async (targetID) => {
        const dataTags = ["title", "author", "genre", "isbn", "bookid"];
        const allModifiedValues = document.querySelectorAll(".modifiedValue");
        let body = {};

        for (let i = 0; i < 4; i++) {
          const val = allModifiedValues[i]?.value
          body[dataTags[i]] = val
        }

        body[dataTags[4]] = targetID

        const req = await fetch("/api/modifyBook", {
          method: "POST",
          body: JSON.stringify(body),
          headers: jsonHeader,
        });
        if (req.status == 200) {
          getUpdate();
        }
      };

      const doDelete = (targetISBN) => {
        const userPrompt =
          'You are trying to delete a book here. If you are sure you want to do that type "CONFIRM".';
        prompt(userPrompt) == "CONFIRM"
          ? fetch("/api/deleteBook", {
              method: "POST",
              body: JSON.stringify({ bookid: targetISBN }),
              headers: jsonHeader,
            })
          : console.log("not deleting");
        getUpdate();
      };

      const deployInputFieldsWithValue = (newRow, children) => {
        for (let i = 0; i < 4; i++) {
          const contentTD = document.createElement("td");
          const content = document.createElement("input");
          content.value = children[i].innerText;
          content.classList.add("modifiedValue");
          contentTD.appendChild(content);
          newRow.appendChild(contentTD);
        }
      };

      const deployButtonsForActions = (newRow, bookid) => {
        const buttonObjects = [
          { content: "Apply", class: "applybtn" },
          { content: "Delete", class: "deletebtn" },
        ];
        for (let i = 0; i < 2; i++) {
          const buttonTD = document.createElement("td");
          const button = document.createElement("button");
          button.innerHTML = buttonObjects[i].content;
          button.classList.add(buttonObjects[i].class);
          button.dataset.isbn = bookid;
          buttonTD.appendChild(button);
          buttonTD.classList.add("smallColumn");
          newRow.appendChild(buttonTD);

          button.addEventListener("click", (e) => {
            const btn = e.srcElement.classList[0];
            btn == "applybtn" ? doApply(bookid) : doDelete(bookid);
          });
        }
      };

      const refresh = (data) => {
        const dataTags = ["title", "author", "genrename", "isbn", "available"];

        const user = <%- JSON.stringify(user || null) %>;

        if (user) dataTags.push("actions");

        // clear content
        thead.innerHTML = tbody.innerHTML = "";

        if (!data || data.length == 0) {
          setEmpty("No books found. Search for a different title.");
          return;
        }

        if (data.length > 0) {
          printHeader();
          data.forEach((element) => {
            let e = element;

            if (element?.item) {
              e = element.item;
            }

            const tr = document.createElement("tr");
            for (let i = 0; i < dataTags.length; i++) {
              const td = document.createElement("td");
              if (dataTags[i] === "available") {
                td.innerText = e[dataTags[i]] ? "✅" : "❎";
                td.classList.add("smallColumn");
                td.classList.add("center")
              } else if (dataTags[i] == "actions") {
                const btn = document.createElement("button");
                btn.innerText = "Edit";
                btn.classList.add("editbtn");
                btn.dataset.id = e[dataTags[3]];

                td.appendChild(btn);

                const btnBorrow = document.createElement("button");
                btnBorrow.innerText = "Borrow";
                btnBorrow.classList.add("borrowbtn");
                btnBorrow.dataset.id = e[dataTags[3]];

                td.appendChild(btnBorrow);
                td.classList.add("smallColumn");
              } else td.innerText = e[dataTags[i]];
              tr.appendChild(td);
            }

            tr.dataset.id = element.bookid
            tbody.appendChild(tr);
          });

          const editBtns = document.querySelectorAll(".editbtn");

          editBtns.forEach((btn) => {
            btn.addEventListener("click", (e) => {
              const isOpen = document.querySelector(".editRow") || null;
              if (isOpen) isOpen.remove();

              const currentRow = btn.closest("tr");
              const children = currentRow.childNodes;

              const newRow = document.createElement("tr");

              deployInputFieldsWithValue(newRow, children);

              deployButtonsForActions(newRow, currentRow.dataset.id);

              newRow.classList.add("editRow");

              currentRow.insertAdjacentElement("afterend", newRow);
            });
          });
        }
      };

      addEventListener("DOMContentLoaded", async () => {
        getUpdate();
      });
    </script>
  </body>
</html>
