:root {
  --gray: #a9f6b5;
  --dark: #004f2d;
  --black: #091e05;
  --light: #82ff9e;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

form {
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
}

.labinp {
  text-align: left;
  display: block;
  margin-bottom: 2rem;
}

button {
  width: 100%;
  background-color: var(--light);
  font-size: 1.1rem;
  border-radius: 5px;
}
