.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: right;
  margin-right: 5%;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

.flex {
  display: flex;
  width: 110px;
}
