body::before {
  content: '';
  position: fixed; /* stays fixed across scroll */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: url("data:image/svg+xml,%3Csvg width='80' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23004f2d' fill-opacity='0.3'%3E%3Ccircle cx='30' cy='30' r='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  pointer-events: none; /* so it doesn't block clicks */
  z-index: -1; /* behind all content */
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
