:root {
  --gray: #a9f6b5;
  --dark: #004f2d;
  --black: #091e05;
  --light: #82ff9e;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

td {
  height: 50px;
  width: 150px;
}

table {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-around;
}

.searchbar input {
  height: 1.4rem;
  width: 80%;
}

.searchbar button {
  height: 30px;
  width: 40px;
}

td button {
  width: 100%;
  background-color: var(--light);
  font-size: 1.1rem;
  border-radius: 5px;
}
